[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
coveralls = "*"

[packages]
toml = "*"
btq = {editable = true,path = "."}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
